BOT_TOKEN=
AUDIO_BACKEND=ffmpeg
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_IDENTIFIER=main
LAVALINK_LIST_URL=https://lavalink-list.ajieblogs.eu.org/All
LAVALINK_NODE_LIST_FILE=lavalink_nodes.json
LAVALINK_NODE_PROBE_TIMEOUT=8
LAVALINK_NODE_PROBE_QUERY=lofi hip hop
LAVALINK_NODE_SECURE_ONLY=true
LAVALINK_NODE_MAX_FAILOVER=3
LAVALINK_NODE_SOURCE=youtube
LAVALINK_NODE_SPOTIFY_PROBE_URL=https://open.spotify.com/track/4PTG3Z6ehGkBFwjybzWkR8
LAVALINK_NODE_REFRESH_HOURS=24